* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

/* dark-02 */
.text-gray {
    color: #424242;
}

/* dark-03 */
.txt-light-gray {
    color: #727272;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-2 {
    max-width: 1320px;
    margin: 0 auto;
}

.bannner-btn {
    margin-bottom: 30px;
}

.btn {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
}

main>section {
    padding-top: 130px;
}

.section-title{
    font-size: 2.813rem;
    font-weight: bold;
    padding-bottom: 24px;
}


/* Header Styles */




/* navbar related styles */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.nav-item {
    list-style: none;
    margin-left: 50px;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
}

.navbar h1 {
    font-size: 2.813rem;
}

.banner-container {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content {
    text-align: center;
    width: 60%;
    max-width: 862px;
    margin-bottom: 60px;
}

.banner-content h2 {
    font-size: 4.063rem;
    text-align: center;
    padding-bottom: 30px;
}

.banner-content p {
    line-height: 26px;
    color: #727272;
    padding-bottom: 30px;
}

.banner-container img {
    width: 100%;
    max-width: 1440px;
    padding-bottom: 30px;
}


/* team and feature related styles */

.teams {
    align-items: center;
    gap: 73px;
    /* max-width: 1318px; */
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-img-container img {
    max-width: 100%;
}

.our-features{
    max-width: 537px;
}

.primary-span{
    color: #727272;
    font-weight: 500;
}
.secondary-span{
    color: #FF900E;
}
.features-description{
    line-height: 26px;
    padding-bottom: 30px;
}

/* Responsive Design */
@media screen and (max-width:576px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
    .banner-content{
        width: 100%;
    }

    .banner-content h2 {
        font-size: 3.5rem;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .nav-item {
        margin: 0;
        font-size: ;
    }
    .nav-link{
        font-size: 2rem;
    }

    .banner-container {
        padding-top: 30px;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams{
        flex-direction: column;
    }

}






@media screen and (min-width:576px) and (max-width:992px) {
    .container {
        width: 95%;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        gap: 50px;
    }

    .nav-item {
        margin: 0;
    }

    .banner-container {
        padding-top: 30px;
    }

    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 0 auto;
    }
}